<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="/images/favico.ico" />
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.5.1/dist/paper.css" media="all" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <title> {{title}} </title>
</head>
<hr>

<body>

    <div class="container paper">

        {{{body}}}
        <hr>
        <footer>Built in 10 Minutes! by Abdulazeez. Lol. Basically, using the <b>OLD SCHOOL EXPRESSJS </b> way.</footer>
    </div>

</body>

</html>