<h1> Sample Student Portal V2 </h1>

  <p> Basically, we should have something interesting here. But since it's dummy for now, please make use of <a href="/register">the register url</a> or <a href="/login">Login url.</a> </p>
